@font-face {
  font-family: 'FiraSans-Medium';
  src: url("do/fonts/FiraSans/FiraSans-Medium.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'FiraSans-Light';
  src: url("do/fonts/FiraSans/FiraSans-Light.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'FiraSans-Regular';
  src: url("do/fonts/FiraSans/FiraSans-Regular.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}
* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.main {
  min-height: 100%;
}
.main .top {
  height: 90px;
  width: 100%;
  background-color: #008000;
  margin-bottom: 50px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}
.main .top .photo {
  width: 60px;
  height: 60px;
  position: relative;
  top: 15px;
  left: 30px;
  border-radius: 30px;
  border: 3px solid #fff;
}
.main .top .aboutMe {
  display: inline-block;
  color: #fff;
  position: relative;
  left: 50px;
}
.main .top .web {
  position: absolute;
  right: 30px;
  top: 40px;
}
.main .top .web img {
  margin: 0 10px;
  fill: #ffb600;
}
.main .courses {
  padding-bottom: 70px;
  display: flex;
  background-image: url("do/gplaypattern.png");
  background-repeat: repeat;
  flex-direction: column;
  flex: 1 0 auto;
  height: 100%;
}
.main .courses .head1,
.main .courses .head2 {
  position: relative;
  top: 80px;
  font-size: 42px;
  width: 550px;
  margin: 0 auto;
  text-align: center;
  font-family: 'FiraSans-Medium';
}
.main .courses .head2 {
  top: 100px;
  font-size: 21px;
}
.main .courses .head2 label {
  position: relative;
  top: 20px;
  margin: 20px;
  cursor: pointer;
  font-size: 25px;
}
.main .courses .head2 label input {
  margin: 10px;
}
.main .courses .all_curses {
  width: 1000px;
  margin: 160px auto;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 0;
  min-height: 80px;
}
.main .courses .all_curses .one_card {
  delay: 4s;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: 300px;
  cursor: pointer;
  margin: 10px 16px;
}
.main .courses .all_curses .one_card .cover_card {
  position: absolute;
  background-color: #646464;
  width: 100%;
  height: 0;
  opacity: 0.5;
}
.main .courses .all_curses .one_card:hover .pic {
  border-bottom: 7px solid #008000;
}
.main .courses .all_curses .one_card:hover .text .namecurs {
  color: #008000;
}
.main .courses .all_curses .one_card:hover .check {
  color: #008000;
}
.main .courses .all_curses .one_card .pic {
  width: 100%;
  height: 165px;
  border-bottom: 7px solid #fff;
}
.main .courses .all_curses .one_card .text {
  height: 100%;
  width: 100%;
  background-color: #fff;
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
}
.main .courses .all_curses .one_card .text .namecurs {
  font-family: FiraSans-Regular;
  font-size: 21px;
}
.main .courses .all_curses .one_card .text .aboutcurs {
  font-family: FiraSans-Light;
  font-size: 14px;
  margin-top: 10px;
}
.main .courses .all_curses .one_card .text .time {
  font-family: FiraSans-Light;
  font-size: 12px;
  margin: 10px 0;
}
.main .courses .all_curses .one_card .check {
  width: 100%;
  height: 60px;
  background-color: #f6f7f2;
  font-family: FiraSans-Regular;
  padding: 22px;
}
.main .courses .all_curses .one_card .check label {
  cursor: pointer;
  display: inline-flex;
}
.main .courses .all_curses .one_card .check label input {
  margin-right: 10px;
}
.main .courses .all_curses .one_card .check label m {
  font-size: 18px;
  font-family: FiraSans-Regular;
}
.main #tree {
  display: flex;
  width: 100%;
  min-height: 100px;
  background-color: #fafad2;
  flex-direction: column;
}
.footer {
  margin-top: -70px;
  position: relative;
  background-color: #000;
  color: #646464;
  font-size: 14px;
  width: 100%;
  height: 70px;
  font-family: 'FiraSans-Regular';
  text-align: center;
  padding-top: 20px;
  bottom: 0;
}
.view {
  animation-name: flash;
  animation-duration: 3s;
}
.see {
  border: 1px solid #f00;
}
@-moz-keyframes flash {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@-webkit-keyframes flash {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@-o-keyframes flash {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes flash {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
